<!DOCTYPE html>

<html>
    <title>Hi</title>
    <body>
        <form action="{{url_for('upload_file')}}" method="POST" enctype='multipart/form-data'>
            <input type="file" name="file"><br>
            <input type="hidden" id="password" name="password" value="{{password}}">
            <input type="submit">
        </form>
        <br><br>

        {% for item in filenames %}
            {{item}}
            <form action="{{url_for('download_file')}}" method="POST">
                <input type="submit" value="Download">
                <input type="hidden" id="fileName" name="fileName" value="{{item}}">
                <input type="hidden" id="password" name="password" value="{{password}}">
            </form>
            <form action="{{url_for('delete_file')}}" method="POST">
                <input type="submit" value="Delete">
                <input type="hidden" id="fileName" name="fileName" value="{{item}}">
                <input type="hidden" id="password" name="password" value="{{password}}">
            </form>
            <br>
        {% endfor %}
    </body>
</html>